html, 
body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: sans-serif;
  font-size: 16px;
}

a, 
a:visited, 
a:hover,
a:active {
  color: #88a8b7;
}

a, 
a:visited {
  text-decoration: none;
}

h1 {
  margin: 30px 0;
}

li {
  list-style: none;
}

#content {
  width: 800px;
  margin: 0 auto;
}
