html, body {
  margin: 0;
  padding: 0;
}

aside {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 250px;
  padding: 10px;
  z-index: 2;
  background-color: #ddd;
  border: 1px solid #333;
}

#mapContainer {
  background-color: Red;
  z-index: 1;
}

button { 
/*  width: 220px; */
}
