* {
  margin: 0;
  padding: 0;
}

html, 
body {
}

p {
  margin-bottom: 1em;
}

#content {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

#video {
  width: 400px;
  height: 400px;
}

#video-controls {
  margin-top: 25px;
}

#audio-controls {
  margin-top: 25px;
}

.secondary-controls {
  margin-top: 10px;
}

button {
  padding: 5px;
}

footer {
  margin-top: 50px;
  font-size: 12px;
  color: #888;
}

footer a, 
footer a:visited {
  color: #555;
} 

.box-round {
  -webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 6px; /* FF1-3.6 */
          border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* FF3.5 - 3.6 */
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
